@layer base {
  @font-face {
    font-family: 'Mulish';
    src: url(src/fonts/mulish/Mulish-Regular.ttf) format('truetype');
  }
}

@layer components {
  h1 {
    @apply text-4xl text-white py-6;
  }

  h2 {
  }

  h3 {
  }

  body {
  }

  p {
    font-size: 0;
  }

  p * {
    font-size: revert;
  }

  svg {
    display: inline;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
